.card-detail {
    display: flex;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: #1e2138;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
}
.card-detail-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    gap: 10px;
    border-radius: 10px;
    color: aliceblue;
}
.card-detail-head {
    width: auto;
    margin: 15px;
}
.card-detail-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 15px;
    button {
        margin-top: 10px;
    }
}