// src/components/CheckoutForm/CheckoutForm.scss

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 40px auto; // Añade espacio arriba y abajo para separarlo de otros elementos
  padding: 25px;
  background-color: #1e2138;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #4a5180;
    background-color: #292e4f;
    color: white;
    font-size: 1rem;
    &:focus {
      outline: none;
      border-color: #aeb8ff;
    }
  }

  button {
    margin-top: 10px;
    width: 100%;
  }
}