.cart-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}
.cart-items {
    width: 90%;
    justify-self: center;

}

.item-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    
    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.item-count div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    button {
        width: auto;
    }
}

p {
    margin-bottom: 10px;
}

.cart-summary {
    margin-bottom: 40px; 
    h2 {
        margin: 10px;
    }
    div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  gap: 20px;
}