* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #292e4f;
  color: aliceblue;
}

.btn-secondary {
  align-self: center;
  background-color: #1e2138;
  border: none;
  border-color: #292e4f;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-style: outset;
  width: 200px;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}